body {
    background: url("../img/background.jpg");
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
}
header {
    background: white;
    border: 1px solid;
    display: flex;
}
header {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-container {
    text-align: center;
}
ul {
    display: flex;
    padding-left: 0;
}
li {
    list-style: none;
    text-align: left;
    display: block;
}
a {
    text-decoration: none;
    margin: 0 1em;
    color: black;
    font-weight: 700;
}
#title-header {
    margin: 0 .50rem;
}
.content-container {

    margin-top: 7rem;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}
.container-item {
    height: 50%;
}
#pic {
    height: 50%;
}
#name {
    color: rgb(6, 27, 64);
    font-weight: 800;
    font-size: 3em;
}
span {
    color: orange;
}
h3 {
    color: rgb(115, 23, 29);
}
button {
    font-weight: 700;
    padding: .50em 1em;
    border-radius: 20px;
    background: blue;
    color: white;
    border: none;
}
.icon {
    height: 30px;
    margin-top: 1em;
}

@media (max-width: 828px){

    ul {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    li {
        margin-top: .50rem;
    }
    .content-container {
        flex-direction: column;
    }
}
@media (max-width: 548px) {

    header {
        flex-direction: column;
    }
    .content-container {
        text-align: center;
    }
}
@media (max-width: 315px) {

    ul {
        flex-direction: column;
    }

    #pic {
        height: 0%;
    }
}